<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Angular JS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"> </script>
    <script src="finance.js"></script>
    <script src="invoice.js"></script>
    <script src="greeting.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="SpicyController">
        <button ng-click="chiliSpicy()">Chili</button>
        <button ng-click="jalapenoSpicy()">Jalapeno</button>
        <p>The food is {{spice}} spicy!</p>
    </div>
</body>
</html>