<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Angular JS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"> </script>
    <script src="finance.js"></script>
    <script src="invoice.js"></script>
    <script src="greeting.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="SpicyController">
        <input ng-model="customSpice" />
        <button ng-click="spicy('Chili')">Chili</button>
        <button ng-click="spicy('Jalapeno')">Jalapeno</button>
        <p>The food is {{customSpice}}</p>
    </div>
</body>
</html>